<html>
    {% extends 'base.html' %}
    {% block content %}

    <h1> Update Student Details </h1>
    <form method='POST'>
    Student RollNo.<input type="text" name="sRollNo" value="{{student.sRollNo}}">
    Student Name<input type="text" name="sname" value="{{student.sname}}">
    Student class<input type="text" name="sclass" value="{{student.sclass}}">
    Student Dateofbirth<input type="text" name="sDateofbirth" value="{{student.sDateofbirth}}">
   

    {% csrf_token %}
    <input type='submit' value='Update Student'>
    
       
        
    </form>
    {% endblock %}

    
</html>